/* COMMON */
* {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section .inner {
  z-index: 1;
  width: 930px;
  padding: 40px 60px;
}

/* PAGE-TOP */
.page-top {
  align-items: flex-end;
  width: 100%;
  height: 300px;
  line-height: 100%;
  margin-bottom: 50px;
}
.page-top .inner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
.page-top .inner .txt1 {
  font-size: 1em;
  letter-spacing: 0.125em;
  margin-bottom: 30px;
}
.page-top .inner .txt2 {
  font-size: 2.7em;
  letter-spacing: 0.13em;
}
.page-top .inner .txt2 span {
  margin-left: 25px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 0.4em;
  letter-spacing: 0.125em;
}

/* PROFILE */
.profile .inner {
  display: flex;
}
.profile .inner .profile_img > img {
  width: 297px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .inner .profile_cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile .inner .profile_cont .profile_txt {
  align-self: end;
  margin-left: 30px;
}
.profile .inner .profile_cont .profile_txt .sns {
  margin-bottom: 30px;
}
.profile .inner .profile_cont .profile_txt .sns img {
  width: 13px;
  height: 13px;
}
.profile .inner .profile_cont .profile_txt .sns span {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2vh;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 10px;
}
.profile .inner .profile_cont .profile_txt .name, .profile .inner .profile_cont .profile_txt .name_en, .profile .inner .profile_cont .profile_txt .email {
  margin-bottom: 10px;
}
.profile .inner .profile_cont .profile_txt .name {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.12em;
}
.profile .inner .profile_cont .profile_txt .name_en {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.05em;
}
.profile .inner .profile_cont .profile_txt .email {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #B9B9B9;
}
.profile .inner .profile_cont .teamlink {
  align-self: start;
  justify-self: end;
}
.profile .inner .profile_cont .teamlink img {
  width: 180px;
  height: 40px;
}

/*  CONCEPT */
.concept .inner .sub-title {
  width: 274px;
  height: 25px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: -0.12em;
  margin-top: 100px;
}
.concept .inner .title {
  position: relative;
  width: 153px;
  height: 60px;
  margin-top: 15px;
  font-family: "Pretendard";
  font-weight: 900;
  font-size: 3.8em;
}
.concept .inner .title img {
  position: absolute;
  width: 830px;
  top: -32px;
  left: -156px;
}
.concept .inner .desc {
  margin-top: 65px;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.1em;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: justify;
}

/* POSTER */
.poster {
  margin-top: 170px;
  height: 600px;
}
.poster .inner {
  display: flex;
  justify-content: space-between;
}
.poster .inner .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poster .inner .txt .title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.8em;
  letter-spacing: -0.12em;
}
.poster .inner .txt .title img {
  position: absolute;
  width: 755px;
  top: 30px;
  left: -110px;
}
.poster .inner .txt .sub-title {
  width: 58px;
  height: 36px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: -0.12em;
}
.poster .inner .txt .desc div:nth-child(1) {
  margin-top: 50%;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: -0.12em;
  color: #8F8F8F;
}
.poster .inner .txt .desc div:nth-child(2) {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 5px;
}
.poster .inner .txt .desc div:nth-child(3) {
  width: 500px;
  margin-bottom: 0px;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.1em;
  line-height: 160%;
  text-align: justify;
}
.poster .inner .img {
  align-self: end;
}
.poster .inner .img img {
  width: 346px;
  height: 493px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* INTER */
.inter {
  margin-top: 170px;
}
.inter .inner .top {
  height: 800px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.inter .inner .top .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inter .inner .top .txt .title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.8em;
  letter-spacing: -0.12em;
}
.inter .inner .top .txt .title img {
  position: absolute;
  width: 646px;
  top: 30px;
  left: 690px;
}
.inter .inner .top .txt .sub-title {
  width: 58px;
  height: 36px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: -0.12em;
}
.inter .inner .top .txt .desc div:nth-child(1) {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: -0.12em;
  color: #8F8F8F;
}
.inter .inner .top .txt .desc div:nth-child(2) {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 5px;
}
.inter .inner .top .txt .desc div:nth-child(3) {
  width: 480px;
  margin-bottom: 0px;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.1em;
  line-height: 160%;
  text-align: justify;
}
.inter .inner .top .txt .desc .view-map {
  margin-top: 20px;
  width: 480px;
  overflow: auto;
  display: flex;
  gap: 13px;
}
.inter .inner .top .txt .desc .view-map img {
  width: 293px;
  height: 173px;
}
.inter .inner .top .btn-modal__open {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 240px;
  left: 420px;
}
.inter .inner .top .btn-modal__open img {
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.09));
}
.inter .inner .top .img {
  align-self: end;
}
.inter .inner .top .img img {
  width: 410px;
  height: 583px;
  -o-object-fit: cover;
     object-fit: cover;
}
.inter .inner .top .img:hover {
  z-index: 9;
}
.inter .inner .top .img:hover img {
  -webkit-animation: scoll 5s infinite ease-in-out;
          animation: scoll 5s infinite ease-in-out;
}
@-webkit-keyframes scoll {
  0% {
    object-position: 20%;
  }
  50% {
    object-position: 80%;
  }
  100% {
    object-position: 20%;
  }
}
@keyframes scoll {
  0% {
    -o-object-position: 20%;
       object-position: 20%;
  }
  50% {
    -o-object-position: 80%;
       object-position: 80%;
  }
  100% {
    -o-object-position: 20%;
       object-position: 20%;
  }
}
.inter .inner .examples {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.inter .inner .examples .example {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.inter .inner .examples .example img {
  width: 293px;
  height: 173px;
}

/* INTER-MODAL */
.modal-cont {
  display: none;
  z-index: 999;
  background: rgba(34, 31, 31, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-cont .modal-inner {
  width: 825px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-cont .modal-inner video {
  width: 825px;
}
.modal-cont .btn-modal__close {
  cursor: pointer;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* BTM-NAVI */
.btm-navi {
  margin-top: 100px;
}
.btm-navi .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
.btm-navi .inner .prev img, .btm-navi .inner .next img {
  height: 76px;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 70px;
}
.footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}
.footer .ex_txt {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.footer .ex_txt .up {
  font-weight: 700;
  font-size: 0.8em;
  line-height: 100%;
}
.footer .ex_txt .down {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 100%;
}/*# sourceMappingURL=designer_detail.css.map */