@charset "UTF-8";

*{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
body{
    background-color: #fff;
    width: 100%;
}
.top{
	width: 100%;
	height: 456px;
	position: relative;
	background-image: url(img/jaum.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.btn_title {
	margin-left: 70px;
	margin-top: 60px;
	float: left;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 100%;
	/* or 18px */
	text-align: center;
	letter-spacing: -0.12em;
}
.bar {
	margin-left: 13px;
	margin-top: 60px;
	float: left;
	font-family: 'Montserrat';
	font-style: normal;
}
.dt {
	margin-left: 13px;
	margin-top: 60px;
	float: left;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	/* or 18px */
	text-align: center;
	letter-spacing: -0.12em;
}
.navi {
	width: 33px;
	height: 24px;
	float: right;
	margin-top: 60px;
	margin-right: 70px;
}
.txt1{
	position: absolute;
	left: 150px;
	top: 290px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.125em;
}
.txt2{
	position: absolute;
	left: 150px;
	top: 320px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 42px;
	line-height: 100%;
	letter-spacing: 0.13em;
	
}
.txt2>span {
	margin-left: 35px;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 0.125em;
	
}
.list {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;

	background-image: url(img/moum.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 95%;
}
.list_inner {
	width: calc(100% - 33%);
}
.con1 {
	float: left;
	width: 250px;
	height: 306px;
	margin-right: 25px;
	margin-bottom: 34px;
}
.con1>img {
	width: 250px;
	height: 306px;
}
.con2 {
	float: left;
	width: 250px;
	height: 306px;
	margin-right: 25px;
	margin-bottom: 34px;
}
.con2>img {
	width: 250px;
	height: 306px;
}
.con3 {
	float: left;
	width: 250px;
	height: 306px;
	margin-right: 25px;
	margin-bottom: 34px;
}
.con3>img {
	width: 250px;
	height: 306px;
}
.card {
	float: left;
	width: 250px;
	height: 306px;	
	margin-right: 25px;
	background-color: #fff;
	filter: drop-shadow(5px 6px 17px rgba(206, 192, 192, 0.25));
	margin-bottom: 34px;
}
.card>img {
	width: 250px;
	height: 200px;
}
.card-body{
	margin-left: 15px;
	margin-top: 20px;
}
.card-title {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
}
.card-text {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	/* identical to box height, or 18px */
	letter-spacing: -0.12em;
}
.explain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 33%);
	margin-top: 130px;
	margin-bottom: 100px;
}
.logo {
	float: left;
}
.ex_txt {
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.up {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
}
.down {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
}