@charset "UTF-8";

*{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
body{
    background-color: #fff;
    width: 100%;
	background-image: url(img/design_back.svg);
	background-repeat: no-repeat;
	background-position: 95% 10%;
}
.top{
	width: 100%;
	height: 456px;
	position: relative;
}
.btn_title {
	margin-left: 70px;
	margin-top: 60px;
	float: left;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 100%;
	/* or 18px */
	text-align: center;
	letter-spacing: -0.12em;
}
.bar {
	margin-left: 13px;
	margin-top: 60px;
	float: left;
	font-family: 'Montserrat';
	font-style: normal;
}
.dt {
	margin-left: 13px;
	margin-top: 60px;
	float: left;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 100%;
	/* or 18px */
	text-align: center;
	letter-spacing: -0.12em;
}
.navi {
	width: 33px;
	height: 24px;
	float: right;
	margin-top: 60px;
	margin-right: 70px;
}
.txt1{
	position: absolute;
	left: 150px;
	top: 290px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 1em;
	line-height: 100%;
	letter-spacing: 0.125em;
}
.txt2{
	position: absolute;
	left: 150px;
	top: 320px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 3em;
	line-height: 100%;
	letter-spacing: 0.13em;
	
}
.txt2>span {
	margin-left: 35px;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	font-size: 0.4em;
	letter-spacing: 0.125em;
}
.list {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.list_inner {
	width: calc(100% - 33%);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 15px;
	column-gap: 15px;
	justify-content: space-evenly;
}
.con1 {
	float: left;
	width: 285px;
	height: 349px;	
}
.con1>img {
	width: 285px;
	height: 349px;	
}
.con2 {
	float: left;
	width: 285px;
	height: 349px;	
}
.con2>img {
	width: 285px;
	height: 349px;	
}
.con3 {
	float: left;
	width: 285px;
	height: 349px;	
}
.con3>img {
	width: 285px;
	height: 349px;	
}
.card {
	float: left;
	width: 285px;
	height: 349px;	
	background-color: #fff;
	filter: drop-shadow(5px 6px 17px rgba(206, 192, 192, 0.25));
}
.card>img {
	width: 285px;
	height: 211px;
}
.card-body{
	margin-left: 20px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
.card-mid {
	display: flex;
	margin-top: 10px;
}
.card-pro {
	display: flex;
	margin-top: 25px;
	align-items: center;
}
.card-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 1em;
	line-height: 100%;

	color: #000000;
}
.card-text {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 300;
	font-size: 0.5em;
	line-height: 100%;
	/* identical to box height, or 10px */
	text-align: center;
	letter-spacing: 0.3em;

	color: #F2D378;
}
.mid {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 300;
	font-size: 0.5em;
	line-height: 100%;
	/* identical to box height, or 10px */
	text-align: center;
	letter-spacing: 0.3em;

	margin-right: 2px;
	margin-left: 4px;

	color: #000000;
}
.by {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 0.7em;
	line-height: 100%;
	/* identical to box height, or 12px */
	text-align: center;
	margin-right: 4px;

	color: #000000;
	margin-left: 10px;
	margin-right: 2px;
}
.name {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-size: 0.7em;
	line-height: 100%;
	/* or 12px */
	text-align: center;

	color: #000000;
}
.explain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 33%);
	margin-top: 130px;
	margin-bottom: 100px;
}
.logo {
	float: left;
}
.ex_txt {
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.up {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 0.8em;
	line-height: 100%;
}
.down {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 0.8em;
	line-height: 100%;
}