@charset "UTF-8";

*{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
body{
    background-color: #fff;
    width: 100%;
}
.top{
	width: 100%;
	height: 456px;
	position: relative;
}
.btn_title {
	margin-left: 70px;
	margin-top: 60px;
	float: left;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 100%;
	/* or 18px */
	text-align: center;
	letter-spacing: -0.12em;
}
.bar {
	margin-left: 13px;
	margin-top: 60px;
	float: left;
	font-family: 'Montserrat';
	font-style: normal;
}
.dt {
	margin-left: 13px;
	margin-top: 60px;
	float: left;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 100%;
	/* or 18px */
	text-align: center;
	letter-spacing: -0.12em;
}
.navi {
	width: 33px;
	height: 24px;
	float: right;
	margin-top: 60px;
	margin-right: 70px;
}
.txt1{
	position: absolute;
	left: 150px;
	top: 290px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 1em;
	line-height: 100%;
	letter-spacing: 0.125em;
}
.txt2{
	position: absolute;
	left: 150px;
	top: 320px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 3em;
	line-height: 100%;
	letter-spacing: 0.13em;
	
}
.txt2>span {
	margin-left: 35px;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	font-size: 0.4em;
	letter-spacing: 0.125em;
}
.list {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.list_inner {
	width: calc(100% - 33%);
    display: flex;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.side_list {
    margin-right: 20%;
}
.pro {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 15px;
	column-gap: 15px;
	justify-content: space-evenly;
}

.concept {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/b_logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 20%;
}
.con {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    /* identical to box height, or 30px */

    letter-spacing: -0.12em;

    /* team_Concept */

    color: #000000
}
.con_t {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 100%;
    /* identical to box height, or 80px */

    letter-spacing: -0.12em;

    color: #000000;

    margin-top: 15px;
    margin-bottom: 50px;
}
.con_txt {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */

    align-items: center;
    text-align: justify;

    color: #000000;
}
.video {
    margin-top: 300px;
}

.tn {
    font-family: 'Montserrat';
	font-style: normal;
}

.v_info {
    width: 65%;
    height: 100%;
    background-color: #A093BF;
    position: fixed;
    top: 0;
    transition: 0.7s ease-in;
    overflow: hidden;
}
.in_inner {
    padding: 10%;
    display: flex;
    flex-direction: column;
}
.close>img {
    float: right;
}
.in_title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 100%;
    /* identical to box height, or 70px */
}
.in_pro {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}
.in_tn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 117%;
    margin-right: 20px;
    color: #000000;
}
.in_n {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 117%;
    color: #000000;
    margin-right: 4px;
}
.in_ex{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-top: 80px;
    text-align: justify;
    color: #000000;
}
hr {
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
}
.in_pro_btn {
    display: flex;
}
.in_p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117%;
    /* identical to box height, or 18px */

    margin-right: 80px;
    color: #000000;
}
.in_link {
    display: flex;
}

.inter {
    margin-top: 300px;
}
.inter_down {
	height: 177px;
    display: flex;
    flex-wrap: nowrap;
}
.in_jo {
    display: flex;
    height: 143px;
}
.in_jo>img {
    margin-right: 30px;
}
.in_ob {
    margin-top: 20px;
    margin-bottom: 20px;
}
.in_img {
    display: flex;
    height: 130px;
    justify-content: space-between;
}
.in_info {
    width: 65%;
    height: 100%;
    background-color: #A093BF;
    position: fixed;
    top: 0;
    transition: 0.7s ease-in;
    overflow: hidden;
}
.next {
	display: flex;
	align-items: center;
	flex-direction: row;
    justify-content: space-evenly;
    margin-top: 130px;
    width: calc(100% - 33%);
}
.before {
	width: 290px;
	height: 76px;
}
.after {
	width: 317.04px;
	height: 75.89px;
}

.explain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 33%);
	margin-top: 130px;
	margin-bottom: 100px;
}

.logo {
	float: left;
}
.ex_txt {
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.up {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 0.8em;
	line-height: 100%;
}
.down {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 0.8em;
	line-height: 100%;
}